@media (max-width: 768px) {
  .inner {
    width: 100%;
    padding: 0 15px;
  }

  /* Header */
  .header .banner .lnb {
    width: 100%;
    padding-right: 10px;
  }
  .header .nav {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    position: relative;
  }
  .header .nav .gnb {
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -270px;
    height: 100vh;
    width: 270px;
    text-align: right;
    padding-top: 100px;
    padding-right: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .header .nav .gnb.active {
    right: 0;
  }
  .header.active .nav {
    padding: 10px 15px;
  }

  /* Trigger */
  .trigger {
    display: block;
    width: 20px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1001;
  }
  .trigger span {
    position: absolute;
    height: 1px;
    background-color: #070303;
    width: 100%;
    transition: 0.5s;
  }
  .trigger span:nth-child(1) {
    top: 0;
  }
  .trigger span:nth-child(2) {
    top: 50%;
  }
  .trigger span:nth-child(3) {
    top: 100%;
  }
  .trigger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  /* Intro */
  .intro .heading h1 {
    font-size: 2rem;
    color: #333;
    line-height: 2.3rem;
  }
  .intro .heading p {
    font-size: 1.1rem;
    padding: 0 50px;
  }

  /* About */
  .about-content {
    flex-direction: column;
    padding: 50px 0;
  }
  .about-content div {
    padding: 10px;
  }
  .about-content .desc p {
    padding: 10px;
  }
  .about-content .photo img {
    height: 350px;
    margin-top: 15px;
  }

  /* Ranking */
  .ranking-content {
    padding: 50px 0;
  }
  .ranking-content h2 {
    text-align: center;
  }
  .ranking-content .items {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* testimonial */
  .testimonial {
    padding: 100px 0;
  }
  .testimonial-content .testimonial-slider .testimonial-item {
    padding: 0;
  }

  /* Callaction */
  .callaction .callaction-heading h2 {
    font-size: 35px;
  }

  /* Blog */
  .blog-header {
    text-align: center;
  }
  .blog-content .blog-header p {
    font-size: 1.1rem;
  }
  .blog-content .post-content {
    flex-direction: column;
  }
  .post-item {
    flex-direction: column;
  }
  .post-item .post-img {
    width: 100%;
  }
  .post-item .post-desc {
    padding: 0;
  }
  .post-item .post-desc h3 {
    font-size: 1.2rem;
  }

  /* Footer */
  .footer-content {
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
  }

  /* Go-top */
  .go-top.active {
    opacity: 0.7;
  }
}
