/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Momo+Signature&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 15px;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
}

/* Reset CSS */
a {
  text-decoration: none;
  color: #222;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
input,
button,
textarea {
  outline: none;
}
button {
  cursor: pointer;
}

/* Common CSS */
.inner {
  width: 1300px;
  margin: auto;
  /* border: 1px solid red; */
}

/* Header */
.header {
  position: fixed;
  width: 100%;
}
.header .banner {
  background-color: #222;
  height: 40px;
  display: flex;
  align-items: center;
}
.header .banner .lnb {
  width: 1300px;
  margin: auto;
  text-align: end;
}
.header .banner .lnb a {
  margin: 10px;
  color: #fff;
}
.header .banner .lnb a:last-child {
  margin-right: 0;
}
.header .banner .lnb a em {
  color: #ccc;
}
.header .nav {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.header .nav .logo {
  display: flex;
  align-items: center;
}
.header .nav .logo a {
  display: flex;
  align-items: center;
}
.header .nav .logo a span {
  font-size: 30px;
}
.header .nav .logo a h1 {
  margin-left: 5px;
}
.header .nav .gnb {
  display: flex;
}
.header .nav .gnb li a {
  margin: 20px;
  font-size: 18px;
  transition: 0.35s;
}
.header .nav .gnb li a:hover {
  color: #bbb;
}
.header .nav .gnb li a:last-child {
  margin-right: 0;
}

/* Intro */
.intro {
  display: flex;
  align-items: center;
  height: 100vh;
  background: url(images/background-01.jpg) no-repeat center center;
  background-size: cover;
}
.intro .heading {
  color: #fff;
  text-align: center;
}
.intro .heading h1 {
  font-size: 56px;
  margin-bottom: 40px;
}
.intro .heading p {
  font-size: 22px;
  padding: 0 100px;
  line-height: 1.4em;
}

/* About */
.about-content {
  display: flex;
  align-items: center;
  padding: 100px 0;
}
.about-content div {
  padding: 30px;
}
.about-content .desc {
  text-align: center;
  flex: 3;
}
.about-content .desc h2 {
  font-size: 30px;
}
.about-content .desc p {
  padding: 10px 50px;
  font-size: 16px;
  line-height: 1.7rem;
}
.about-content .desc a {
  color: tan;
  font-weight: bold;
  transition: 0.35s;
}
.about-content .desc a:hover {
  color: #bbb;
}
.about-content .photo {
  flex: 2;
}
.about-content .photo img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: 0.35s;
}
.about-content .photo img:hover {
  border-radius: 60% 40% 30% 70% / 50% 40% 60% 50%;
  transform: scale(1.03);
}

/* Ranking */
.ranking {
  background-color: #f8f8f8;
}
.ranking-content {
  padding: 100px;
}
.ranking-content h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
}
.ranking-content .items {
  display: flex;
  justify-content: space-between;
}
.ranking-content .items .item {
  width: 300px;
  height: 450px;
  border-radius: 30px 5px;
  background-color: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.ranking-content .items .item .image img {
  width: 100%;
  object-fit: cover;
}
.ranking-content .items .item .content {
  padding: 15px;
}
.ranking-content .items .item .content .badge {
  color: #fff;
  background-color: #00a0e9;
  padding: 2px 10px;
}
.ranking-content .items .item:first-child .content .badge {
  background-color: #fa1714;
}
.ranking-content .items .item .content h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}
.ranking-content .items .item .content a {
  color: tan;
  font-weight: 500;
  position: relative;
}
.ranking-content .items .item .content a:hover {
  color: rgba(210, 180, 140, 0.7);
}
.ranking-content .items .item .content a span {
  transition: 0.35s;
  position: absolute;
  right: -27px;
}
.ranking-content .items .item .content a:hover span {
  right: -30px;
}

/* testimonial */
.testimonial {
  padding: 150px 0;
}
.testimonial-content {
  text-align: center;
}
.testimonial-content h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.testimonial-content hr {
  border: none;
  height: 4px;
  width: 120px;
  background-color: #00a0e9;
  margin: 20px auto;
}
.testimonial-content .testimonial-slider {
}
.testimonial-content .testimonial-slider .testimonial-item {
  height: 300px;
  border: 1px solid red;
}

/* callaction */
.callaction {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/image-02.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}
.callaction::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #fbc2eb72 0%, #a6c0ee6f 100%);
}
.callaction .callaction-heading {
  text-align: center;
  position: relative;
}
.callaction .callaction-heading h2 {
  color: #fff;
  font-size: 40px;
  line-height: 3rem;
  margin-bottom: 30px;
}
.callaction .callaction-heading a {
  color: #fff;
  background-color: #22b86f;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.35s;
}
.callaction .callaction-heading a:hover {
  background-color: #1c9b5c;
}

/* Festival */
.festival {
  background-color: #333333;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.festival .festival-heading {
  text-align: center;
}
.festival .festival-heading h3 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 30px;
}
.festival .festival-heading h3 span {
  font-weight: 500;
}
.festival .festival-heading .btns a {
  background-color: #fff;
  color: #333;
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.35s;
}
.festival .festival-heading .btns a:hover {
  opacity: 0.9;
}
.festival .festival-heading .btns a:first-child {
  background-color: #ffc235;
  color: #fff;
  margin-right: 10px;
}

/* Footer */
.footer {
  background-color: #000000;
  padding: 30px 0;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-content ul:nth-child(1) {
  flex: 1;
}
.footer-content ul:nth-child(2) {
  flex: 1;
}
.footer-content ul:nth-child(3) {
  flex: 2;
}
.footer-content ul:nth-child(3) li:last-child {
  margin-top: 20px;
}
.footer-content ul li {
  color: #d9d9d9;
}
.footer-content ul li:first-child {
  font-weight: bold;
}
.footer-content ul li a {
  color: #d9d9d9;
  transition: 0.35s;
}
.footer-content ul li a:hover {
  text-decoration: underline;
}
